<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="_layouts/HIMANSHI_SHRIVAS-CV_24 (2).pdf">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
    		{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="himanshishrvs0007@gmail.com">email</a></li>
        		<li><a href="https://github.com/himanshishrivas">github.com/himanshishrivas</a></li>
			<li><a href="https://www.linkedin.com/in/himanshi-shrivas-32054b170">LinkedIn</a></li>
			<li><a href="https://twitter.com/Himansh65579324?s=09">Twitter</a></li>
			<li><a href="https://himanshishrvs0007.wixsite.com/zindagi-ektabassum">Self-Writting Portal</a></li>
			</ul>
		</footer>
	</body>
</html>
